# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/zkwork.iml
/target/
/.idea/
.gitignore
.idea/
target/
zkwork.iml
